{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 * - entity: The publication page entity object.
 *
 * @see template_preprocess_publication_page()
 */
#}
<div class="publication_page publication_page-{{ bundle }}">
  {{ publication_page }}
</div>
