{% if actions is not empty %}
  <ul class="publication_pages_actions">
    <label class="publication_pages_actions_label">{{ 'Actions'|t }}</label>
    {% for action in actions %}
      <li>{{ action }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if pages is empty %}
  {{ 'There are not pages'|t }}
{% else %}
  <ol class="publication_pages">
    {% for page in pages %}
      <li>{{ page.title }}</li>
    {% endfor %}
  </ol>
{% endif %}
