{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 * - entity: The publication entity object.
 *
 * @see template_preprocess_publication()
 */
#}
<div class="publication publication-{{ bundle }}">
  {{ publication }}
</div>
